$ff-poppins: 'Poppins', sans-serif;

$color-black: #000;
$color-grey: #222;
$color-light-grey: #666;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-shadow-white: rgba(255, 255, 255, 0.5);
$color-shadow-green: rgba(17, 204, 20, 0.1);
$color-white: #fff;
$color-orange: #ffb02e;
$color-red: #f02929;
$color-dark-red: #ac1c1c;
$color-green: #1fc022;
$color-dark-green: #18871a;

$defaultTransition: 0.3s ease;
